.feed {
  flex: 0.4;
  border-right: var(--twitter-color) 1px solid;
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 700;
}
